@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #010f01d5;
	--header-color: #00df9a;
	--shadow-color: #03110373;
	font-family: 'Inter', sans-serif;
}
body {
	background-color: var(--background-color);
	font-family: 'Inter', sans-serif;
}

#brand h1 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#menu li {
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#mobile-menu li {
	font-weight: 800;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#menubar {
	font-weight: 900;
	color: #000;
	text-shadow: #000;
}

@layer base {
	input,
	select {
		@apply rounded-md text-gray-800 bg-white;
	}
}
